@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html, body {
  background-color: #f2ff41;
  scroll-behavior: smooth;
}


@font-face {
  font-family: "TT Hoves Pro Variable";
  font-style: normal;
  -webkit-font-smoothing: antialiased;

  src: url("/fonts/d8f1ebd7deab417ee3e09ff8b58799a1.eot");
  src: url("/fonts/d8f1ebd7deab417ee3e09ff8b58799a1.eot?#iefix")format("embedded-opentype"),
  url("/fonts/d8f1ebd7deab417ee3e09ff8b58799a1.woff2")format("woff2"),
  url("/fonts/d8f1ebd7deab417ee3e09ff8b58799a1.woff")format("woff"),
  url("/fonts/d8f1ebd7deab417ee3e09ff8b58799a1.ttf")format("truetype"),
  url("/fonts/d8f1ebd7deab417ee3e09ff8b58799a1.svg#TT Hoves Pro Variable")format("svg");
}

@font-face {
  font-family: "TT Firs Neue Var Roman";
  font-style: normal;
  -webkit-font-smoothing: antialiased;

  src: url("/fonts/5d142601b903c50f97692721f594aa0a.eot");
  src: url("/fonts/5d142601b903c50f97692721f594aa0a.eot?#iefix")format("embedded-opentype"),
  url("/fonts/5d142601b903c50f97692721f594aa0a.woff2")format("woff2"),
  url("/fonts/5d142601b903c50f97692721f594aa0a.woff")format("woff"),
  url("/fonts/5d142601b903c50f97692721f594aa0a.ttf")format("truetype"),
  url("/fonts/5d142601b903c50f97692721f594aa0a.svg#TT Firs Neue Var Roman")format("svg");
}


h1, h2, h3, h4, h5, h6 {
  font-family: "TT Firs Neue Var Roman";
}

.TTFirsFont {
  font-family: "TT Firs Neue Var Roman";
}

.TTHovesFont {
  font-family: "TT Hoves Pro Variable";
}

p, div, span {
  font-family: "TT Hoves Pro Variable";
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

